* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 700px;
}

.without-decoration {
	text-decoration: none;
}

.hide {
	display: none;
}

/*===========================================================*/
/*                             Шапка                         */
/*===========================================================*/

header {
	height: 100px;
	width: 100%;
	position: relative;	
	background-color: #444;
	overflow: hidden;
}

#logo {
	display: block;
	height: 100px;
	width: 100px;
	float: left;
	background-color: #666;
}

#search_container {
	position: absolute;
	left: 26%;
	margin-top: 33px;
	float: left;
	width: 35%;
	overflow: hidden;
}

#find_input {
	float: left;
	height: 30px;
	width: 75%;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;

	border: none;

	padding: 0 2%;
	font-size: 16px;
	color: #333;
}

#find_input:focus {
	outline-width: 0;
}

#search_button {
	overflow: hidden;
	position: relative;
	float:left;
	height: 30px;
	width: 20%;
	background-color: #6699CC;
	color: white;
	border: none;
	font-family: arial;
	font-size: 17px;
	
	cursor: pointer;

	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#search_button:focus {
	outline: none;
}

#search_button:active {
	box-shadow: inset 0 0 2px 1px #999;
}

#magnifier {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 50%;
	margin-left: -10px;
	top: 5px;
}

#login-block {
	float: right;
	height: 100%;
	width: 200px;
	margin-right: 1%;
}

#login-register {
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 20px;
	margin-top: 17px;
	border: solid white 2px;
	cursor: pointer;
	text-decoration: none;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
}

#login-register p {
	text-align: center;
	margin-top: 23px;
	color: white;
	font-family: arial;
	font-size: 13px;
}

#login-register:hover {
	border: solid #d2e3ff 2px;

}

#login-register:hover p {
	color: #d2e3ff;
}

.inlogin-left {
	height: 100px;
	float: left;
	width: 90px;
	margin-top: 5px;
	position: relative;
}

.inlogin-name {
	margin-top: 10px;
	color: white;
	font-family: arial;
	text-align: center;
}

.inlogin-header-photo {
	height: 40px;
	width: 40px;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 15px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
}

.inlogin-right {
	float: right;
	margin-top: 6px;
}

.inlogin-button {
	text-decoration: none;
	display: block;
	overflow: hidden;
	width: 80px;
	height: 25px;
	margin-top: 13px;
	margin-right: 15px;
	background-color: #6699CC;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	cursor: pointer;
}

.inlogin-button p {
	color: white;
	text-align: center;
	margin-top: 5px;
	font-family: arial;
	font-size: 13px;
}


/*===========================================================*/
/*                         /Шапка                            */
/*===========================================================*/


/*===========================================================*/
/*                         Сам контент                       */ 
/*===========================================================*/

#content {
	overflow: hidden;
	position: relative;
}

.title-search {
	font-family: arial;
	font-size: 25px;
	text-align: center;
	color: #333;
	margin-top: -20px;
}

#content-left {
	min-height: 795px;
	float: left;
	width: 72%;
	padding-top: 70px;
	padding-bottom: 40px;	
	position: relative;
	overflow: hidden;
	background-color: #edeff1;
}

#content-right {
	float: right;
	width: 28%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 1100px) {
    #content-left {
    	width: 100%;
    }

    #content-right {
	 	width: 0%;
	 	height: 0px;
    }
}

@media screen and (min-width: 1400px) {
	#content-left {
		width: 75%;
	}

	#content-right {
		width: 25%;
	}
}
 
/*===========================================================*/
/*                         Правая часть                      */ 
/*===========================================================*/

.tags-cloud {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px;
	margin-top: 60px;
}

.tag {
	display: block;
	text-decoration: none;
	float: left;
	margin-left: 3px;
	background-color: #6699CC;
	margin: 3px;
	padding: 5px;
	color: white;
	font-family: arial;
	border-radius: 3px;
}

.title-right {
	color: #555;
	font-size: 20px;
	font-family: arial;
}

.top-users {
	width: 90%;
	padding: 10px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.top {
	overflow: hidden;
	margin-left: 10%;
	padding: 10px 15px;
	margin-top: 5px;
}

.current-top {
	color: #555;
	font-family: arial;
	margin: 0 auto;
	margin-top: 15px;
}

.current-top p {
	color: #6699CC;
	display: inline;
}


.list-top {
	list-style: none;
	margin-top: 20px;
}

.list-top li {
	text-align: center;
	margin-top: 10px;
}




/*===========================================================*/
/*                        /Правая часть                      */ 
/*===========================================================*/



/*===========================================================*/
/*                           Логин                           */ 
/*===========================================================*/

#title-login {
	font-size: 25px;
	font-family: arial;
	color: #555;
}

#log-in-container {
	position: relative;
	margin: 0 auto;
	margin-top: 140px;
	margin-bottom: 140px;
	width: 365px;
	overflow: hidden;
}

.log-in-message-block {
	overflow: hidden;
	margin-top: 30px;
	width: 99%;
	background: red;
	min-height: 40px;
	background-color: white;

	border-radius: 3px;
	border: solid #FFCCCC 0.3px;
	display: none;
}

.log-in-message-block p {
	color: #777;
	font-family: arial;
	margin: 10px;
}

.login-container {
	margin: 20px 0;
}

.info-container {
	margin: 25px 0;
	height: 65px;
}

.input_field {
	left: 150px;
	height: 38px;
	width: 350px;
	margin-top: 3px;
	border-radius: 3px;
	border: 1px solid #e1e5ec;
	padding: 0 8px;
	font-size: 17px;
	color: #444;
}

.input_field:focus {
	outline-width: 0;
}

.button_class {
	background-color: white;
	border: 1px solid #6699CC;
	width: 150px;
	height: 40px;
	border-radius: 3px;
	color: #6699CC;
	font-size: 15px;
	cursor: pointer;
}

.button_class:hover {
	background-color: #6699CC;
	border: none;
	color: white;
}

.button_class:focus {
	outline-width: 0;
}

/*===========================================================*/
/*                           /Логин                          */ 
/*===========================================================*/






/*===========================================================*/
/*                           Рега                            */ 
/*===========================================================*/

#register-container {
	position: relative;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 350px;	
	overflow: hidden;	
}

#info-container {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 60px;
	width: 350px;	
	overflow: hidden;	
}

.photo-container-registr {
	overflow: hidden;
	
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}

.photo-registr-title {
	font-family: arial;
	color: #555;
	font-size: 21px;
	margin-bottom: 33px;
}

.photo-view-registr {
	float: left;
	display: block;
	width: 120px;
	height: 120px;
	margin-left: 20px;

	border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.button-registr-class {
	float: right;
	background-color: white;
	border: 1px solid #6699CC;
	width: 135px;
	height: 25px;
	border-radius: 3px;
	color: #6699CC;
	font-size: 15px;
	cursor: pointer;
	margin-top: 45px;
	margin-right: 10px;
}

.button-registr-class:hover {	
	background-color: #6699CC;
	color: white;
}

.register {	
	background-color: #6699CC;
	color: white;
	margin-top: 40px;
	margin-left: 100px;
}

.load-file {
	float: right;
	background-color: white;
	border: 1px solid #6699CC;
	width: 135px;
	height: 25px;
	border-radius: 3px;
	color: #6699CC;
	font-size: 15px;
	cursor: pointer;
	margin-top: 45px;
	margin-right: 10px;
	position: relative;
}

.load-file p {
	text-align: center;
	font-family: arial;
	margin-top: 3px;
}

.load-file:hover {
	background-color: #6699CC;
}

.load-file:hover p {
	color: white;
}

.load-file input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
}

.errorlist li {
	background-color: #FFCCCC;
	color: #777;
	font-family: arial;
	padding: 5px;
}

/*===========================================================*/
/*                           /Рега                           */ 
/*===========================================================*/


/*===========================================================*/
/*                           Вопросы                         */ 
/*===========================================================*/

.order {
	overflow: hidden;
	left: 50%;
	margin-left: -190px;
	position: absolute;
	top: 39px;
	height: 30px;
	width: 380px;
}

.button-order {
	text-decoration: none;
	display: block;
	float: left;
	width: 45%;
	margin-left: 4.5%;
	height: 100%;
	background-color: #6699CC;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

.button-order-current {
	box-shadow: inset 0 1px 2px 0px #333;
	-moz-box-shadow: inset 0 1px 2px 0px #333;
	-webkit-box-shadow: inset 0 1px 2px 0px #333;
	-o-box-shadow: inset 0 1px 2px 0px #333;
}

.button-order p {
	color: white;
	font-family: arial;
	text-align: center;
	margin-top: 5px;
}

.button-order-current p {
	margin-top: 6px;
}

#container-questions {
	width: 80%;
	/*padding: 40px 10%;		*/
	margin: 40px auto;
}

#container-question-in-answer {
	width: 80%;
	margin: 40px auto;
	margin-top: -20px;
}

#container-answer {
	width: 80%;
	/*padding: 40px 10%;		*/
	margin: 40px auto;
}

.question {
	width: 100%;
	margin: 0 auto;	
	background-color: white;
	border-radius: 2px;
}

.question-ok {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;	
	background-color: white;
	border-radius: 2px;
	border: 3px solid #C5FBC2;
}

.left-block-question {
	position: relative;	
	width: 30%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.right-block-question {
	position: relative;
	width: 64%;
	height: 100%;
	float: right;
	overflow: hidden;
	padding: 0 3%;
}

.is-ok-button {
	text-decoration: none;
	display: block;
	position: absolute;
	height: 30px;
	width: 55px;
	border: 1px solid #6699CC;
	border-radius: 3px;
	color: #6699CC;
	font-family: arial;
	top: 15px;
	right: 15px;
	background-color: white;
	cursor: pointer;
}

.is-ok-button p {
	text-align: center;
	margin-top: 5px;
}

.is-ok-button:hover {
	background-color: #6699CC;
	color: white;
}

.ava-question {
	display: block;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 20px auto;
}

.marks-block {
	height: 35px;
	overflow: hidden;
	width: 85%;
	background-color: #6699CC;
	padding-left: 5%;
}

.question-name {
	text-align: center;
	font-family: arial;
	color: #555;
	margin-top: -9px;
	margin-bottom: 10px;
}

.mark-plus-minus {
	overflow: hidden;
	color: #6699CC;
	font-family: arial;
	margin: 0 9px;
	margin-top: 5px;
	text-align: center;
	background-color: white;
	border-radius: 50%;
	font-size: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	float: left;
}

.mark-plus-minus p {
	margin-top: 1px;
}

.mark-view {
	color: white;
	font-size: 15px;
	font-family: arial;
	text-align: center;
	float: left;
	margin-top: 8px;
}

.title-question {
	display: block;
	font-family: arial;
	font-size: 20px;
	color: #333;
	margin-top: 12px;
	text-decoration: none;
}

.date-question {
	font-family: arial;
	color: #777;
	font-size: 14px;
	margin-top: 3px;
}

.text-question {
	font-family: arial;
	font-size: 15px;
	color: #666;
	margin-top: 25px;
	margin-bottom: 20px;
}

.container-about-post {
	position: relative;
	overflow: hidden;
	height: 35px;
	width: 92%;
	padding: 0 4%;
	margin-top: -4px;
}

.link-ansv {
	display: block;
	text-decoration: none;
	overflow: hidden;
	height: 23px;
	width: 60px;
	float: left;
	margin-top: 7px;
	background-color: #6699CC;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.link-ansv p {
	font-family: arial;
	font-size: 14px;
	color: white;
	margin-top: 3px;
	text-align: center;
}

.col-ansv-block {
	float: right;
	height: 18px;
	width: 30px;
	margin-left: 10px;
	background-color: #6699CC; 
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 15px;
}

.tags-container {
	margin-top: 10px;
	float: right;
	margin-left: 5%;
	font-family: arial;
	color: #333;	
}

.tag-block {
	float: right;
	font-size: 12px;
	margin-left: 10px;
	display: block;
	text-decoration: none;
	color: white;
	font-family: arial;

	background-color: #6699CC; 
	text-align: center;
	border-radius: 5px;

	padding: 3px 3px;
	margin-top: -2px;
}

.left-after-post {
	float: left;
	width: 30%;
	overflow: hidden;
	position: relative;
}

.right-after-post {
	float: right;
	width: 70%;
	overflow: hidden;
	position: relative;
}

.paginator-container {
	margin-left: 10%;
}

.light-theme a {
	text-decoration: none;
}

/*===========================================================*/
/*                          /Вопросы                         */ 
/*===========================================================*/

footer {
	height: 150px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #444;
}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

.reveal-modal {
	visibility: hidden;
	top: 100px; 
	left: 50%;
	margin-left: -300px;
	width: 520px;
	background: #eee no-repeat -200px -80px;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 24px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
	
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 17px;
	right: 17px;
	color: #FFF;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
} 

.top-panel-block {
	width: 100%;
	height: 50px;
	background-color: #69C;
	position: absolute;
	top: 0px;
	left: 0px;		
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.top-panel-block p {
	text-align: center;
	font-family: arial;
	color: white;
	font-size: 22px;
	margin-top: 13px;
}

.input-title-quest {
	margin-top: 50px;
	display: block;
	height: 38px;
	width: 97%;
	border-radius: 3px;
	border: 1px solid #e1e5ec;
	padding: 0 7px;
	font-size: 17px;
	color: #444;
}

.input-title-quest:focus {
	outline-width: 0;
}

.input-text-quest {
	resize: none;
	overflow: auto;
	width: 97%;
	margin-top: 30px;
	height: 200px;		
	display: block;
	border-radius: 3px;
	border: 1px solid #e1e5ec;
	padding: 3px 7px;
	font-size: 17px;
	color: #444;
}

.input-text-answer {
	resize: none;
	overflow: auto;
	margin: 0 auto;
	width: 80%;
	margin-top: 30px;
	height: 100px;		
	display: block;
	border-radius: 3px;
	border: 1px solid #e1e5ec;
	padding: 3px 7px;
	font-size: 17px;
	color: #444;
}

.input-text-quest:focus {
	outline-width: 0;
}

.button-ask {
	overflow: hidden;
	display: block;
	height: 35px;
	width: 130px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #6699CC;
	cursor: pointer;
	color: white;
	border: 1px solid #6699CC;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.button-ask:focus {
	outline-width: 0;
}

.big-link { display:block; margin-top: 100px; text-align: center; font-size: 70px; color: #06f; }

.label-user-page {
	height: 40px;
	font-family: arial;
	color: #666;
}
