{% load inclusion %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jqcloud.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/jqcloud.css">
</head>
<body>
	
	{% block links %}
		<!-- Тут ссылки -->
	{% endblock %}

	<header>
		<a href="/">
			<img src="/logo/logo.png" id="logo">
		</a>
		
		<div id="search_container">
			<form method="GET" action="/search/">
				<input type="text" id="find_input" name="query" placeholder="Найти">
				<input id="search_button" type="submit" value="Найти"> 
					<img src="/logo/magnifier.png" id="magnifier">
				</input>
			</form>
			<div style="clear: both;"></div>
		</div>

		{% block login-block %}
			
		{% endblock %}

		<div style="clear: both;"></div>	
	</header>

	<div id="content">
		<div id="content-left">
			{% block content %}

			{% endblock %}
		</div>

		<div id="content-right">
			{% block tags %}

				<div class="tags-cloud">
					<div class="title-right">
						Тэги
					</div>

					{% bestTags %}

				</div>

				<div class="top-users">
					<div class="title-right">
						Топ пользователей
					</div>

					{% bestUsers %}

					
				</div>
			{% endblock %}	
		</div>
		
		<div style="clear: both;"></div>
	</div>

	<footer>
		
	</footer>

	{% block scripts %}
	{% endblock %}
	


	<script type="text/javascript">
        
        var word_list = [
            {text:"Web", weight:13},
            {text:"C++", weight:10.5},
            {text:"Java", weight:9.4},
            {text:"Python", weight:8},
            {text:"C#", weight:6.2},
            {text:"Сети", weight:5},
            {text:"PHP", weight:5},
            {text:"MySql", weight:5},
            {text:"Mongodb", weight:5},
            {text:"C#", weight:6.2},
            {text:"Сети", weight:5},
            {text:"PHP", weight:5},
            {text:"MySql", weight:5},
            {text:"Mongodb", weight:5}
        ];

        $(document).ready(function() {
            $(".cloud").jQCloud(word_list, { width: 250, height: 350});
        });


    </script>

</body>
</html>