{% extends "base.html" %}

{% block login-block %}
	{% include "components/withoutlogin.html" %}
{% endblock %}

{% block content %}

	<div id="log-in-container">

		<form action="javascript:void(null);" method="post" id="main-form">
			{% csrf_token %}

			<div id="title-login"> Вход </div>

			<div class="login-container">
				<input type="text" class="input_field login" placeholder="Логин" id="login" name="login">
			</div>
			<div class="login-container">
				<input type="password" class="input_field pass" placeholder="Пароль" id="password" name="password">
			</div>
			<input type="submit" class="button_class" value="Войти">
		</form>

		<div class="log-in-message-block"> <p> Ошибка </p> </div>

	</div>


	<script>
		$('#main-form').submit(function() {

			var msg = $('#main-form').serialize();
			$('.log-in-message-block').hide();

	        $.ajax({
	        	type: 'POST',
	        	url: '/method/login/',
	        	data: msg,
	        	success: function(data) {
	        		if(data.status != "ok") {
	        			$('.log-in-message-block').show();
	        			$('.log-in-message-block p').html(data.message);
	        		} else
	        			window.location.replace("/");
	          	},
	          	error:  function(xhr, str) {
	                $('.log-in-message-block p').html("Ошибка");
	            }
	        });

		});
	</script>



{% endblock %}