{% extends "base.html" %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="/css/simplePagination.css">
	<script src="/js/jquery.simplePagination.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/tagsinput.css">
	<script src="/js/tagsinput.min.js"></script>

	<div id="myModal" class="reveal-modal xlarge">

		<div class="top-panel-block"> <p> Задать вопрос </p> </div>
		<a class="close-reveal-modal">&#215;</a>

		<form action="javascript:void(null);" method="post" id="quest-form">
			{% csrf_token %}

			<input type="text" class="input-title-quest" placeholder="Заголовок вопроса" name="title">
			<textarea class="input-text-quest" placeholder="Текст вопроса" name="text"></textarea>

			<input id="tags_1" type="text" name="tags">

			<input type="submit" class="button-ask" value="Спросить">

			<div class="log-in-message-block"> <p></p> </div>

		</form>
	</div>

	<script>
		$('.tagsinput').css('width', '97%'); 
		$('#tags_1').tagsInput({width:'auto'});
	</script>
{% endblock %}


{% block login-block %}
	{% if user.is_authenticated %}
		{% include "components/inlogin.html" with name=user.username ava=user.profile.avatar_url %}
	{% else %}
		{% include "components/withoutlogin.html" %}
	{% endif %}
{% endblock %}


{% block content %}

	{% include "components/question_in_answers.html" with questTitle=question.title questText=question.text questRating=question.rating questDate=question.date_added tags=question.tags.all questNick=question.author.user.username avaLink=question.author.avatar_url questId=question.id %}

	{% if user.is_authenticated %}

		{% include "components/comment-form.html" %}

	{% endif %}

	{% for answer in list_answers %}

		{% if answer.is_right == 1 %}
			{% include "components/ok_answer.html" with answerText=answer.text answerDate=answer.date_added answerNick=answer.author.user.username avaLink=answer.author.avatar_url answerId=answer.id flagRight=has_right %}
		{% else %}
			{% include "components/answer.html" with answerText=answer.text answerDate=answer.date_added answerNick=answer.author.user.username avaLink=answer.author.avatar_url answerId=answer.id flagRight=has_right %}
		{% endif %}

	{% endfor %}


    <div class="paginator-container">
    	<div class="paginator"> </div>
    </div>
{% endblock %}


{% block scripts %}

<script>
	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}	
</script>

<script>
	$(function() {

		var prefixLink = "";

		prefixLink = "?id=" + getParameterByName("id") + "&page=";

	    $('.paginator').pagination({
	        items: '{{answers_col}}',
	        itemsOnPage: '{{answers_in_page}}',
	        cssStyle: 'light-theme',
	        hrefTextPrefix: prefixLink,
	        currentPage: getParameterByName("page")
	    });
	});

	$('#quest-form').submit(function() {

		var msg = $('#quest-form').serialize();

		$('.log-in-message-block').hide();

        $.ajax({
        	type: 'POST',
        	url: '/method/question/create/',
        	data: msg,
        	success: function(data) {

        		if(data.status == "ok") {
        			location.reload();
        		} else if(data.info == "auth error") {
        			$('.log-in-message-block p').html("Ошибка авторизации");
        		} else if(data.info == "title or text is empty") {
        			$('.log-in-message-block p').html("Заголовок и текст - обязательные поля");
        		}

        		$('.log-in-message-block').show();

        		console.log(data);
          	},
          	error:  function(xhr, str) {
            }
        });

	});
</script>

<script>

	$('#answer-ok-form').submit(function() {

		msg = $(this).serialize();
		thisForm = $(this);

		$.ajax({
	    	type: 'POST',
	    	url: '/method/answer/ok/',
	    	data: msg,
	    	success: function(data) {
	    		if(data.status == "ok") {
	    			location.reload();
	    		}
	      	},
	      	error:  function(xhr, str) {

	      	}
	    });

	});

</script>

<script>
	$('.mark-plus-minus').live('click', function() {

		var requestArgs = {
			questId: $(this).attr('quest-id'),
			dataId: $(this).attr('data-id'),
			csrfmiddlewaretoken: "{{csrf_token}}"
		};

		var like_question = $(this);

		$.ajax({
        	type: 'POST',
        	url: '/method/like/',
        	data: requestArgs,
        	success: function(data) {

        		if(data.status == 'Ok') {
        			
        			console.log(like_question.parent().find('.mark-view').html(data.new_rating));
        		}

        	}
    	});
	});
</script>

{% endblock %}