{% extends "base.html" %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="/css/simplePagination.css">
	<link rel="stylesheet" type="text/css" href="/css/tagsinput.css">
	<script src="/js/jquery.simplePagination.js"></script>
	<script src="/js/tagsinput.min.js"></script>

	<div id="myModal" class="reveal-modal xlarge">

		<div class="top-panel-block"> <p> Задать вопрос </p> </div>
		<a class="close-reveal-modal">&#215;</a>

		<form action="javascript:void(null);" method="post" id="quest-form">
			{% csrf_token %}

			<input type="text" class="input-title-quest" placeholder="Заголовок вопроса" name="title">
			<textarea class="input-text-quest" placeholder="Текст вопроса" name="text"></textarea>

			<input id="tags_1" type="text" name="tags">

			<input type="submit" class="button-ask" value="Спросить">

			<div class="log-in-message-block"> <p></p> </div>

		</form>
	</div>

	<script>
		$('.tagsinput').css('width', '97%'); 
		$('#tags_1').tagsInput({width:'auto'});
	</script>

{% endblock %}

{% block login-block %}
	{% if user.is_authenticated %}
		{% include "components/inlogin.html" with name=user.username ava=user.profile.avatar_url %}
	{% else %}
		{% include "components/withoutlogin.html"%}
	{% endif %}
{% endblock %}

{% block content %}
	
	<div class="title-search">
		{{query}}
	</div>

    {% for quest in list_questions %}
		{% include "components/question.html" with questTitle=quest.title questText=quest.text questRating=quest.rating questDate=quest.date_added tags=quest.tags.all questNick=quest.author.user.username avaLink=quest.author.avatar_url questId=quest.id %}

    {% endfor %}

    <div class="paginator-container">
    	<div class="paginator"> </div>
    </div>
{% endblock %}


{% block scripts %}

<script>
	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	
	$(document).ready(function() {
		var prefixLink = "/search/?query=" + getParameterByName("query") + "&page=";

		$('.paginator').pagination({
	        items: '{{col_posts}}',
	        itemsOnPage: '{{posts_in_page}}',
	        cssStyle: 'light-theme',
	        hrefTextPrefix: prefixLink,
	        currentPage: getParameterByName("page")
	   	});
	});

</script>

<script>
	$('#quest-form').submit(function() {

		var msg = $('#quest-form').serialize();

		$('.log-in-message-block').hide();

        $.ajax({
        	type: 'POST',
        	url: '/method/question/create/',
        	data: msg,
        	success: function(data) {

        		if(data.status == "ok") {
        			location.reload();
        		} else if(data.info == "auth error") {
        			$('.log-in-message-block p').html("Ошибка авторизации");
        		} else if(data.info == "title or text is empty") {
        			$('.log-in-message-block p').html("Заголовок и текст - обязательные поля");
        		}

        		$('.log-in-message-block').show();

        		console.log(data);
          	},
          	error:  function(xhr, str) {
            }
        });

	});
</script>

<script>
	$('.mark-plus-minus').live('click', function() {

		var requestArgs = {
			questId: $(this).attr('quest-id'),
			dataId: $(this).attr('data-id'),
			csrfmiddlewaretoken: "{{csrf_token}}"
		};

		var like_question = $(this);

		$.ajax({
        	type: 'POST',
        	url: '/method/like/',
        	data: requestArgs,
        	success: function(data) {

        		if(data.status == 'Ok') {
        			
        			console.log(like_question.parent().find('.mark-view').html(data.new_rating));
        		}
        	}
    	});
	});

</script>

{% endblock %}