{% extends "base.html" %}

{% block login-block %}
	{% include "components/withoutlogin.html" %}
{% endblock %}

{% block content %}

	<div id="info-container">
		<form action="/signup/" enctype="multipart/form-data" method="post">
			{% csrf_token %}
			
			<div id="title-login"> Регистрация </div>

			<div class="login-container">
				{{ form.userName }}
			</div>
			{{ form.userName.errors }}

			<div class="login-container">
				{{ form.firstName }}
			</div>
			{{ form.firstName.errors }}		

			<div class="login-container">
				{{ form.secondName }}
			</div>
			{{ form.secondName.errors }}			

			<div class="login-container">
				{{ form.email }}
			</div>
			{{ form.email.errors }}

			<div class="login-container">
				{{ form.password }}
			</div>
			{{ form.password.errors }}

			<div class="photo-container-registr">
				<div class="photo-registr-title"> Аватар </div>
				<img src="/img/default-user.png" class="photo-view-registr">

				<div class="load-file">
				    <p> Загрузить </p>
				    {{ form.ava }}
				</div>


				<div style="clear: both;"></div>
			</div>

			{{ form.ava.errors }}

			<input type="submit" class="button_class register" value="Регистрация">
		</form>
	</div>

	<script> 
		// Загрузка картинки
		function readUrl(input) {
			if(input.files && input.files[0]) {

				var reader = new FileReader();
				reader.onload = function(file) {
					$('.photo-view-registr').attr('src', file.target.result)
				}

				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>

{% endblock %}
