{% extends "base.html" %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="/css/simplePagination.css">
	<link rel="stylesheet" type="text/css" href="/css/tagsinput.css">
	<script src="/js/jquery.simplePagination.js"></script>
{% endblock %}


{% block login-block %}
	{% if user.is_authenticated %}
		{% include "components/inlogin.html" with name=user.username ava=user.profile.avatar_url %}
	{% else %}
		{% include "components/withoutlogin.html"%}
	{% endif %}
{% endblock %}

	<div id="myModal" class="reveal-modal xlarge">

		<div class="top-panel-block"> <p> Задать вопрос </p> </div>
		<a class="close-reveal-modal">&#215;</a>

		<form action="javascript:void(null);" method="post" id="quest-form">
			{% csrf_token %}

			<input type="text" class="input-title-quest" placeholder="Заголовок вопроса" name="title">
			<textarea class="input-text-quest" placeholder="Текст вопроса" name="text"></textarea>

			<input id="tags_1" type="text" name="tags">

			<input type="submit" class="button-ask" value="Спросить">

			<div class="log-in-message-block"> <p></p> </div>

		</form>
	</div>

	<script>
		$('.tagsinput').css('width', '97%'); 
		$('#tags_1').tagsInput({width:'auto'});
	</script>

{% block content %}
	
	<div id="info-container">
		<form action="/user/" enctype="multipart/form-data" method="post">

			{% csrf_token %}

			<div class="photo-container-registr">
				<div class="photo-registr-title"> Аватар </div>
				<img src="{{ user.profile.avatar_url }}" class="photo-view-registr">

				<div class="load-file">
				    <p> Загрузить </p>
				    {{ user_form.ava }}
				</div>


				<div style="clear: both;"></div>
			</div>

			{{ form.ava.errors }}

			{% for field in user_form %}

				{% if field.name != "ava" %}

			        <div class="info-container">
			            {{ field.errors }}
			            <label class="label-user-page" for="{{ field.auto_id }}"> {{ field.label_tag }} </label>
			            {{ field }}
			        </div>

		        {% endif %}

		    {% endfor %}

			<input type="submit" class="button_class register" value="Готово">
		</form>
	</div>

	<script> 
		// Загрузка картинки
		function readUrl(input) {
			if(input.files && input.files[0]) {

				var reader = new FileReader();
				reader.onload = function(file) {
					$('.photo-view-registr').attr('src', file.target.result)
				}

				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>

{% endblock %}