<div id="container-answer">

	<div class="question">
		<div class="left-block-question">
			<img src='{{ avaLink|default:"dsadasd"}}' class="ava-question">

		</div>

		<div class="right-block-question">

			
				<form action="javascript:void(null);" method="post" id="answer-ok-form">
					{% csrf_token %}

					<input type="hidden" name="id" value="{{answerId}}"/>
					<input type="hidden" name="ok" value="1" />
					{% if flagRight == False %}
						<input type="submit" class="is-ok-button" value = "Ок"/>
					{% endif %}
				</form>
			

			<div class="title-question">
				{{ answerNick|default:"sadasd" }}
			</div>

			<div class="date-question">
				{{ answerDate|default:"default date" }}
			</div>

			<div class="text-question">
				{{ answerText|default:"qweqwe" }}
			</div>

		</div>

		<div style="clear: both;"></div>
	</div>	
</div>