<form action="javascript:void(null);" method="post" id="answer-form">
	{% csrf_token %}

	<textarea class="input-text-answer" placeholder="Текст ответа" name="text_answer"></textarea>
	<input type="hidden" name="id_quest" value="{{ quest_id }}">

	<input type="submit" class="button-ask" value="Ответить">
</form>

<script>
	$('#answer-form').submit(function() {

		var msg = $('#answer-form').serialize();
		console.log(msg);

        $.ajax({
        	type: 'POST',
        	url: '/method/answer/create/',
        	data: msg,
        	success: function(data) {
        		if (data.status == 'ok')
        			location.assign("/question/?id=" + data['id']);
          	},
          	error:  function(xhr, str) {
          		console.log(xhr);
            }
        });

	});
</script>