<div id="login-block">

	<script src="/js/reveal.js"></script>

	<div class="inlogin-left">
		<a class="without-decoration" href="/user/"> <div class="inlogin-name"> {{ name }} </div> </a>
		<a class="without-decoration" href="/user/"> <img src="{{ ava }}" class="inlogin-header-photo"> </a>
	</div>

	<div class="inlogin-right">
		<a class="inlogin-button" data-reveal-id="myModal"><p>Спросить</p></a>
		<a class="inlogin-button" href="/method/logout/"><p>Выйти</p></a>
	</div>
</div>