<div id="container-question-in-answer">

	<div class="question">
		<div class="left-block-question">
			<img src='{{ avaLink|default:"dsadasd"}}' class="ava-question">
			<div class="question-name"> {{ questNick }} </div>

		</div>

		<div class="right-block-question">
			<div class="title-question">
				{{ questTitle|default:"sadasd" }}
			</div>

			<div class="date-question">
				{{ questDate|default:"default date" }}
			</div>

			<div class="text-question">
				{{ questText|default:"qweqwe" }}
			</div>
		</div>

		<div style="clear: both;"></div>

		<div class="after-post-block">
			
			<div class="left-after-post">

				<div class="marks-block">
					<div class="mark-plus-minus" data-id="1" quest-id="{{questId}}"> <p>+</p> </div>
					<div class="mark-view"> {{ questRating|default:"0" }} </div>
					<div class="mark-plus-minus" data-id="-1" quest-id="{{questId}}"> <p>-</p> </div>
				</div>
			</div>
			
			<div class="right-after-post">

				<div class="container-about-post">
					<div class="tags-container">
						Тэги:

						{% for tag in tags %}
							<a href="asda" class="tag-block">
								{{tag.text}}
							</a>
						{% endfor %}

						<div style="clear: both;"></div>
					</div>	
					<div style="clear: both;"></div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>	
	</div>	
</div>