<div id="container-questions">

	<div class="question">
		<div class="left-block-question">
			<img src='{{ avaLink|default:"/img/default-user.png"}}' class="ava-question">
			<div class="question-name"> {{ questNick }} </div>

		</div>

		<div class="right-block-question">
			<a class="title-question" href="/question/?id={{ questId|default:'default' }}">
				{{ questTitle|default:"sadasd" }}
			</a>

			<div class="date-question">
				{{ questDate|default:"default date" }}
			</div>

			<div class="text-question">
				{{ questText|default:"qweqwe" }}
			</div>
		</div>

		<div style="clear: both;"></div>

		<div class="after-post-block">
			
			<div class="left-after-post">

				<div class="marks-block">
					<div class="mark-plus-minus" data-id="1" quest-id="{{questId}}"> <p>+</p> </div>
					<div class="mark-view"> {{ questRating|default:"0" }} </div>
					<div class="mark-plus-minus" data-id="-1" quest-id="{{questId}}"> <p>-</p> </div>
				</div>
			</div>


			<div class="right-after-post">

				<div class="container-about-post">

					<a href="/question/?id={{ questId|default:'default' }}" class="link-ansv"> 
						<p> Ответы </p>
					</a>

					<div class="tags-container">
						Тэги:

						{% for tag in tags %}
							<a href="/tag/?search={{tag.text}}" class="tag-block">
								{{tag.text}}
							</a>
						{% endfor %}

						<div style="clear: both;"></div>
					</div>	
					<div style="clear: both;"></div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>	
	</div>	
</div>