<div id="login-block">
	<div id="login-block">
		<a href="/login/"  id="login-register"> <p>Log in</p> </a>
		<a href="/signup/" id="login-register"> <p>Register</p> </a>
		<div style="clear: both;"></div>
	</div>
</div>